before_install:
  # Add the backports to the sources
  - sudo apt-get install python-software-properties
  - sudo apt-add-repository ppa:octave/stable -y
  - sudo apt-get update
  - sudo apt-get install octave

install:
  # Install dependencies
  - sudo apt-get install build-essential g++ cmake cmake-curses-gui bison flex freeglut3 freeglut3-dev libxi6 libxi-dev libxmu6 libxmu-dev libxmu-headers imagemagick libjpeg62 -y
  # Install octave dependecies
  - sudo apt-get  install "liboctave-dev" -y
  - sudo octave --eval "pkg install -auto -global -forge control"
  # Get the minc toolkit
  - wget http://packages.bic.mni.mcgill.ca/minc-toolkit/Debian/minc-toolkit-1.0.01-20131211-Debian_7.1-x86_64.deb -P /home/travis
  # Install the minc toolkit
  - sudo dpkg -i /home/travis/minc-toolkit-1.0.01-20131211-Debian_7.1-x86_64.deb
  # Install psom
  - mkdir -p /home/travis/build/SIMEXP/psom
  - cd /home/travis/build/SIMEXP/psom
  - git clone https://github.com/SIMEXP/psom.git
  - cd /home/travis

before_script:
  # Set up the octave config file
  - touch /home/travis/.octaverc
  - echo more off >> /home/travis/.octaverc
  - echo save_default_options\(\'-7\'\)\; >> /home/travis/.octaverc
  - echo graphics_toolkit gnuplot >> /home/travis/.octaverc
  - echo addpath\(genpath\(\"/home/travis/build/SIMEXP/\"\)\)\; >> /home/travis/.octaverc
  # Add the minc toolkit to the bash config
  - echo source /opt/minc/minc-toolkit-config.sh >> /home/travis/.bashrc
  - cat /home/travis/.octaverc
  - ls /home/travis -lh

script:
  - octave niak_test_all

notifications:
  email: false
