sudo: required

services:
  - docker



before_install:
  - docker pull simexp/niak_dependency
  - echo $PWD
  - docker run -it --privileged -v $PWD:$PWD simexp/niak_dependency /bin/bash --login -ic "cd $PWD; octave --eval \"addpath(genpath(pwd));[pipe,opt,status] = niak_test_all(struct(),struct('psom',struct('mode_pipeline_manager','session','mode','background','max_queued',2,'flag_pause',false))); system('cat result/report_test_regression_fmripreproc_demoniak.csv'), exit(status)\""


script:
  - octave --eval "[pipe,opt,status] = niak_test_all(struct(),struct('psom',struct('mode_pipeline_manager','session','mode','background','max_queued',2,'flag_pause',false))); system('cat result/report_test_regression_fmripreproc_demoniak.csv'), exit(status)"

notifications:
  email: false
  slack: simexp:eFh4jwo2RWWvSoafeVx9xzoU
